:root {
	--background-color: #f3f3f3;
	--main-color: #000;
	--secondary-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
body {
	font-family: "Inter", sans-serif;
	background-color: var(--secondary-color);
	color: var(--main-color);
}
.link {
	text-decoration: none;
}
.list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
button {
	font-family: inherit;
	cursor: pointer;
}
.container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	padding-left: 32px;
	padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}

.logo-link {
	font-weight: 900;
	font-size: 25px;
	line-height: 1.04;
	/* line-height: calc(26/25); */
	letter-spacing: -0.4px;
	text-transform: uppercase;

	color: var(--main-color);
}

sup {
	font-weight: 900;
	font-size: 8px;
	line-height: calc(9 / 8);

	letter-spacing: -0.1px;
	text-transform: uppercase;

	color: var(--main-color);
}
.nav-list {
	display: flex;
	gap: 24px;
}

.nav-item {
}

.nav-link {
	display: inline-block;
	padding-top: 38px;
	padding-bottom: 38px;

	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.1px;

	color: var(--main-color);
}

.action-btn {
	display: block;
	min-width: 100px;
	height: 48px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);

	letter-spacing: 0.1px;

	color: var(--secondary-color);
	background-color: var(--main-color);
	border: none;
	border-radius: 32px;
}
/* hero */

.hero-section {
padding: 64px 0;
}

.hero-section .container{
display: flex;
align-items: center;
justify-content: space-between;

}

.hero-title {
	font-weight: 900;
	font-size: 56px;
	line-height: calc(60 / 56);
	letter-spacing: -1px;
	width: 457px;
	margin-bottom: 24px;
}


.hero-top-text {
	font-size: 18px;
	line-height: calc(28 / 18);
	width: 457px;
	margin-bottom: 40px;
}
.hero-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1px;
	color: var(--secondary-color);
	width: 100px;
	height: 48px;
	border-radius: 32px;
    justify-content: center;
    margin-right: 20px;
}
.hero-bottom-text {
	font-weight: 600;
	font-size: 14px;
	line-height: calc(20 / 14);
	display: flex;
	align-items: center;
	width: 236px;
}

.hero-content-wrapper {
	display: flex;
    
}
